<h1>new order</h1>

<%=form_for @order, :url => orders_path, :method => :post do|f|%>
  <div class="form-group">
    <%= f.label :product_name, "Name" %>
    <%= f.select :products, Product.all.map{ |x| [x.name, x.id]}, {}, :multiple => "true" , :class => "form-control"%>
  </div>

  <%= f.submit "Create" %>
<%end%>