show

<%=form_for @order, :url => orders_path, :method => :post do|f|%>
  <div class="form-group">
    <%= f.label :product_list, "Name" %>
    <%= f.select :product_list, Product.all.map{ |x| [x.name, x.id]}, {}, :multiple => "true" , :class => "form-control"%>
  </div>

  <%= f.submit "Create" %>
<%end%>